{% extends 'layout.html' %}

{% block body %}
    <div class="container">
        <hr>
        <h1>Available channels:</h1>
        <hr>
        <form class="form-inline" id="channel-form">
            <div class="form-group">
                <input type="text" class="form-control" name="channel-name" id="channel-name" placeholder="New channel name">
            </div>
            <button style="margin-left:10px" type="submit" class="btn btn-primary">Create channel</button>
        </form>
        <hr>
        <div id="channel-list">
            {% for channel in channels %}
                <div class="channel"><a href="/channel/{{ channel.name }}"> Channel: <b>{{ channel.name }}</b>
                    by <b>{{ channel.author }}</b></a></div>
            {% else %}
                <div class="channel" id="no-channels">No channels available at the time. Please try again later.</div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}